#container {
    background-color:rgb(27, 27, 27);
    padding-left: 150px;
    padding-top: 20px;
    height: 100vw;
}

#header {
    font-family: Arial;
    font-size: 30px;
    color: red;
    margin-top: 20px;
}

#file {
    font-family: arial;
    font-size: 22px;
    text-align: left;
    color: rgb(192, 192, 192);
}