#container {
    background-color:rgb(27, 27, 27);
    font-family: Consolas;
    padding-left: 150px;
    padding-top: 20px;
    height: calc(100vh - 20px);
    position: absolute;
    top:0;
    right:0;
    left:0;
}

#header {
    font-size: 30px;
    color: red;
    margin-top: 20px;
}

#file {
    font-size: 22px;
    text-align: left;
    color: rgb(192, 192, 192);
}