ul,
div,
li,
body {
    background: black;
    color: white;
}

div {
    background-color: blue;
    background-color: violet;
}

@keyframes xd {
    from {
        background-color: aqua;
    }
    to {
        background-color: black;
    }
}

@keyframes nc {
    0% {

    }
    50% {

    }
    100% {

    }
}